.display-4{
    text-align: center;
   
}

.jumbotron{
    border-bottom: 5px solid black;
}

#date{
    text-align: center;
    font-size: 25px;
    
}

.table{
    box-shadow: 5px 10px #888888;
}

button{
    float: right;
    width: 100px;
}

img{
    width: 20px;
    height: 20px;
}

input{
    font-weight: bold;
    font-size: 50px;
    border: 0;
    outline: none;
    width: 1000px;
    height: 50px;
    background-color: #d7e0da;
    text-align: center;

}
th{
    background-color: #d7e0da;
    width: 100%;
    border: 1px solid black;
}

tbody{
    width: 100%;
}
#clearAll{
    margin-right: 15px;
}